.navbar-text {
    color: white;
    font-size: 40px;
  }
  
.pokemonLogo{
   text-align: center; 
}

li {
    margin: 10px;
}



.pokemonButton {
    width: 500px;
    height: 100px;
    box-shadow: 4px 3px 19px 0px;
    background-color: red;
    border: none;
    text-decoration: none;
    color: white;
    
}

.container-fluid{
    text-align: center;
    padding-left: auto;
    padding-right: auto;

}
ul {
    list-style: none;
}


  

